.error {
    color: #f64e60 !important;
    font-size: .9rem !important;
    font-weight: 400 !important;
}

@media only screen and (max-width: 800px) {
    html,
    body {
        font-size: 17px;
    }
    table .btn {
        display: block;
        width: 100%;
        margin-top: 0.5em;
        font-size: 1.1em;
        font-weight: bold;
    }
    .box-tools {
        position: relative !important;
    }
    table thead {
        display: none;
    }
    tr.xs-block td,
    tr.xs-block th {
        display: block;
        margin-bottom: 0.3em;
    }
    tr.xs-block td .btn {
        display: block;
        width: 100%;
        font-size: 1.2em;
        margin-bottom: 0.3em;
    }
    tr.xs-block td .btn:after {
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;
        display: inline-block;
        content: attr(title);
    }
    tr.xs-block td:before,
    tr.xs-block th:before {
        text-align: left;
        font-weight: bold;
        display: block;
        content: attr(data-title);
    }
    tr.xs-block {
        display: block;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1em!important;
        -webkit-box-shadow: 2px 2px 1px 0 #dadada;
        box-shadow: 2px 2px 1px 0 #dadada;
    }
    .dataTables_filter {
        text-align: left !important;
    }
    table {
        border: none !important;
    }
    .table-responsive {
        border: none;
    }
    .sugeridos:before,
    .ultimo_dia:before,
    .ultima_semana:before {
        text-align: center !important;
    }
    .sugeridos,
    .ultimo_dia,
    .ultima_semana {
        background: #fff;
    }
    .total-detalle-volante,
    .total-detalle-ptv {
        text-align: left !important;
    }
    #imaginary_container {
        width: 100%;
        margin-top: 10px;
    }
}